.btn{																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																																				
	line-height: 40px !important;
	width: 100% !important;
}

.btn-primary{
	background-color: #f6f6f6 !important;
	color:#545454 !important;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.4em;
	font-size: 17px;
	border:1px solid #fff !important;
}

.btn-primary:hover {
	background-color: #545454 !important;
	color:#f6f6f6 !important;
	font-weight: 400;
	text-decoration: none;
	letter-spacing: 0.4em;
	font-size: 17px;	
}

.em4{
	letter-spacing: 0.4em;
}
.em2{
	letter-spacing: 0.2em;
}
.white{
	color:#fff;
}
p{
	letter-spacing: 0.2em;
	color:#fff;
}
.breadcrumb1{
	color:#f6f6f6;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 16px;
}

.breadcrumb1:hover{
	color:#545454;
	text-decoration: none;
	font-weight: 400;
	letter-spacing: 0.1em;
	font-size: 16px;	
}


@media screen and (max-height: 700px){
	.grid{
		height: 350px;
		width: 100%;
	}
}

@media screen and (min-height: 700px) and (max-height: 800px){
	.grid{
		height: 500px;
		width: 100%;
	}
}

@media screen and (min-height:800px){
	.grid{
		width: 100%;
		height: 600px;
	}
}

@media screen and (max-width: 400px){
	.x-o{
		text-align: center;
		font-size: 40px;
		padding: 30px;
		color:#fff;
	}
}

@media screen and (min-width:401px) and (max-width: 728px){
	.x-o{
		text-align: center;
		font-size: 60px;
		padding: 30px;
		color:#fff;
	}
}

@media screen and (min-width:729px) and (max-width: 1024px){
	.x-o{
		text-align: center;
		font-size: 80px;
		padding: 30px;
		color:#fff;
	}
}

@media screen and (min-width:1025px){
	.x-o{
		text-align: center;
		font-size: 100px;
		padding: 30px;
		color:#fff;
	}
}